
/* .unpublished{
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
background-color: #bb2d3b;
border-color: #b02a37;
}

.published{
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.editbtn{
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
} */


/* .css-1ygcj2i-MuiTableCell-root{
  display: flex;
  justify-content: center;
} */


.headding-item{
  text-align: center !important;
}

.child-accordion{
  background:'navajowhite';
  padding: 0 !important;
}